body {
	height: 100%;
	margin-top: 10%;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

.container {
	position: relative;
	z-index: 10;
}

h1 {
	font-weight: 300;
	font-size: 72px;
}

h2 {
	font-weight: 600;
}

#bg {
	position: fixed;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;
}

#bg img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	min-width: 50%;
	min-height: 50%;
}